ClientApp/Service References/ExchangeService/ExchangeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exchange" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Exchange" minOccurs="0" name="objTransaction" nillable="true" type="q1:ExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastTransectionToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Exchange" minOccurs="0" name="exchangeRequest" nillable="true" type="q2:ExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>